Options -Indexes
DirectoryIndex public_html/index.php

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^avaliar/([^/]+)/?$ public/avaliacoes.php [L,QSA]
  RewriteRule ^public/avaliacao/([A-Za-z0-9-]+)/?$ public/avaliacoes.php [L,QSA]
</IfModule>
