RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/validate/([A-Za-z0-9-]+)/?$ index.php?resource=validate&token=$1 [L,QSA]
RewriteRule ^([A-Za-z0-9-]+)/?$ index.php?token=$1 [L,QSA]
