RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/validate/([A-Za-z0-9-]+)/?$ ../avaliacoes.php?resource=validate [L,QSA]
RewriteRule ^([A-Za-z0-9-]+)/?$ ../avaliacoes.php [L,QSA]
